<% if model.errors.present? %>
  <div class="alert">
  	<h4 style="color: red;">
		  <%= I18n.t("errors.messages.not_saved",
					count: model.errors.count,
					resource: model.class.model_name.human.downcase)
		  %>
      <ul>
        <% model.errors.full_messages.each do |message| %>
         <li><%= message %></li>
       <% end %>
      </ul>
    </h4>
  </div>
<% end %>